{% extends "core/base_template.html" %}
{% block title %} Dashboard {% endblock %}

{% block main %}

<div class="">
    <h1>Dashboard do Sistema - Seja bem-vindo, {{ user.first_name }}</h1>

    <form action="{% url "accounts:switch_2fa" %}" method="POST">
        {% csrf_token %}

        <button type="submit">
            {% if not user.is_2fa_enabled %}
                Ativar Autenticação de Dois Fatores
            {% else %}
                Desativar Autenticação de Dois Fatores
            {% endif %}
        </button>
    </form>
</div>

{% if messages %}
    {% for message in messages %}
        <div style="color: red;">{{ message }}</div>
    {% endfor %}
{% endif %}

{% endblock %}