{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    {% block extra_head %} {% endblock %}
</head>
<body class="
    w-full min-h-screen h-auto overflow-x-hidden overflow-y-auto
    font-poppins
">
    <main class="
        w-full min-h-screen
        flex flex-col justify-center items-center
        bg-neutral-50
    ">
        {% block main %} {% endblock %}
    </main>

    {% block extra_scripts %} {% endblock %}
</body>
</html>