{% extends "accounts/base_template.html" %}
{% block title %} Recuperar Senha {% endblock %}

{% block main %}

<h2>Recuperar Senha</h2>
<p>Informe o seu e-mail cadastrado para receber as instruções de redefinição.</p>

<!-- Exibição de Mensagens de Erro -->
{% if messages %}
    {% for message in messages %}
        <div style="color: red;">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit">Enviar link de recuperação</button>
</form>
<a href="{% url "accounts:login" %}">Lembrei minha senha</a>

{% endblock %}