{% extends "accounts/base_template.html" %}
{% block title %} Recuperar Senha {% endblock %}

{% block main %}

{% if validlink %}
    <h2>Cadastrar Nova Senha</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar nova senha</button>
    </form>
{% else %}
    <h2>Link Inválido ou Expirado</h2>
    <p>O link de redefinição de senha é inválido ou já foi utilizado.</p>
    <a href="{% url 'accounts:password_reset' %}">Solicitar um novo link</a>
{% endif %}

{% endblock %}