{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/js/all.min.js" integrity="sha512-BivWm1+PupfLofQ5Ei/fNEC6Oq6IZiGO9WUm2ibWHZ33cj/qTX4zsBW/0SN9Myo4HEmINmr0wjuQE8eDL3rmng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block extra_head %} {% endblock %}
</head>
<body class="w-full min-h-full h-auto overflow-x-hidden overflow-y-auto">
    <div class="w-full h-full min-h-dvh flex bg-[#089bab]">
        
        {% include 'core/partials/_navbar.html' %}

        <div id="wrapperContent" class="w-full p-8 rounded-t-[25px] md:rounded-tr-[0px] bg-[#eff7f8] transition-all duration-300">
            
            {% include 'core/partials/_topbar.html' %}

            <main>
                {% block main %} {% endblock %}
            </main>
        </div>
    </div>

    <script src="{% static 'core/js/main-menu-function.js' %}"></script>
    <script src="{% static 'core/js/dropdown-function.js' %}"></script>
    {% block extra_scripts %} {% endblock %}
</body>
</html>